<div class="header">
    <div class="container">
        <div class="logo">
            thrash<span class="light"> wiki</span>
        </div>

        <div class="menu">
            <ul>
                <li class="item-menu"><a href="#">Ola {{#usuario}}{{nomeUser}}{{/usuario}}</a></li>
                <li class="item-menu"><a href="#" onclick="sair()"><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<section id="principal">
    <div class="container">
        <div class="noticia-p">
            <img src="../img/imgP.jpg" alt="">
            <div class="conteudo">
                <div class="title-p">
                    <div class="content">
                        Metallica encerra com muito Thrash
                    </div>
                </div>
                <div class="resum-p">
                    <div class="content">
                        A banda fecha a ultima noite do Lollapalooza com muito Metal e energia para os fãs
                    </div>
                </div>
            </div>
        </div>

        <div class="sub-noticia">
            <div class="sub" id="sub1">
                <div class="opacidade">
                    <div class="resum-p">
                        <div class="content">
                            Claustrofobia arrebenta no dia do Metal com muito Metal brasileiro
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub" id="sub2">
                <div class="opacidade">
                    <div class="resum-p">
                        <div class="content">
                            Anthrax leva público a loucura com seu som e direito a participação
                            de uma banda Indígena na música "Indians"
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="materias">
    <div class="container">
        <div class="feed">
            {{#posts}}
            <div class="materia" id="materia{{codPost}}">
                <img id="{{caminhoFoto}}" src="../img/{{caminhoFoto}}" alt="">
                <div class="info">
                    <span class="title" onclick="open_materia({{codPost}})">{{title}}</span>
                    <span class="resum">{{resum}}</span>
                    <span class="hour">1 Hora Atras</span>
                </div>
                <span id="text" style="display: none;">{{pub}}</span>
            </div>
            
            {{/posts}}
        </div>
        <div class="lista">

            <div class="info">
                <span class="title">Lorem ipsum dolor sit amet</span>
                <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                    distinctio fugiat facilis, explicabo temporibus libero hic quod,</span>
            </div>

            <div class="info">
                <span class="title">Lorem ipsum dolor sit amet</span>
                <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                    distinctio fugiat facilis, explicabo temporibus libero hic quod,</span>
            </div>

            <div class="info">
                <span class="title">Lorem ipsum dolor sit amet</span>
                <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                    distinctio fugiat facilis, explicabo temporibus libero hic quod,</span>
            </div>
        </div>
    </div>

</section>

<section id="footer">
    <div class="container">
        <div class="cow">
            <span><i class="fab fa-instagram"></i> @thrash_wiki</span>
            <span><i class="fab fa-facebook-square"></i> Thrash Wiki</span>
            <span><i class="fas fa-envelope"></i> thrash_wiki@gmail.com</span>
        </div>

        <div class="cow">
            <span>Termos de Licença</span>
            <span>Cookies</span>
            <span>R. Anhengabau, 789</span>
        </div>

    </div>

    <span id="copy">&COPY;Todos os direitos reservados 2020</span>
    <span id="memorian">Em memória de Carlos Teixeira (1962-2020)</span>

</section>

<div class="tela" id="tela_opaca">
    <a id="close" href="#" onclick="close_modal()">X</a>
    <div class="modal" id="modal_post">
        <div class="create-post">
            <h1>Postagem</h1>
            {{#usuario}}
            <form action="/controllerPost/{{codUser}}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="cow">
                        <input type="text" id="title" name="title" class="input-pub" placeholder="Título">
                        <label for="resum-post">Resumo: </label>
                        <textarea name="resumPost" id="resumPost" cols="30" rows="10" class="text-pub"></textarea>
                        <input onchange="preview()" type="file" name="imgPost" id="imgPost" class="input-pub", placeholder="imagem">
                        <img src="" id="previewImg" alt="">
                    </div>
                    <div class="cow">
                        <label for="text-post">Texto:</label>
                        <textarea name="textPost" id="textPost" cols="30" rows="10" class="text-pub"></textarea>
                    </div>

                </div>
                

                <div class="row">
                    <button class="btn cancel" type="button" onclick="close_modal()">Cancelar</button>
                    <button class="btn" type="submit">Publicar</button>
                </div>
            </form>
            {{/usuario}}
        </div>
        
    </div>

    <div class="modal" id="modalMateria">
        <h2 id="titleModal"></h2>
        <span id="resumModal"></span>
        <hr>
        <div class="container">
            <img src="" alt="" id="imgModal">
            <div class="content" id="textModal"></div>
        </div>
    </div>
</div>

<div class="btn-flutua post">
    <button onclick="modal_postagem()" class="btn">+</button>
</div>

<script src="/js/feed.js"></script>
<script src="/js/modalFeed.js"></script>
<script>
    let cod = Number({{#usuario}}{{codUser}}{{/usuario}})
    if(Number(sessionStorage.getItem("sessao")) != cod){
        sair()
    }
</script>